body{
    background-color:black;
    color:white;
}

::selection{
    color:black;
    background-color: cyan;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h1{
    color: white;
    background: linear-gradient(90deg, cyan, white, cyan);
    -webkit-background-clip: text;
    background-size:200% auto;
    background-clip: text;
    color: transparent;
    display: inline-block;
    animation: gradient-animation 4s linear infinite;
    transition: 1s;
}

h1:hover{
    text-shadow: 0 0 35px white, 0 0 35px cyan;  
}

@keyframes gradient-animation{
    0%{
        background-position: 0% center;
    }

    100%{
        background-position: 200% center;
    }
}



h2{
    color: white;
    transition: 1s;
}
h2:hover{
    color: cyan;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.white-space{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    }

.sections2{
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: gradient-animation 4s linear infinite;
    color: cyan;
}

p{
    transition: 1s;
}

p:hover{
    color:cyan
}


.image{
    width: 150px;
    height: 150px;
    border: solid 3px cyan;
    border-radius: 100%;
    transition: 1s;
}

.image:hover{
    border-radius: 0%;
}

a{
    color: cyan;
    transition: 1s;
    background-color: #1c1c1c;
    border: solid 2px #2b2b2b;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 3px cyan;  
}

a:hover{
    color: white;
    border-color: cyan;
}

.red-window{
    display: flex;
    flex-direction: column;
    margin: 5px;

    border: solid 1px red;
    border-radius: 5px;
    color: white;
    width: 500px;
    height: 500px;
    backdrop-filter: blur(5px);
    background-color:rgba(0, 0, 0, 0.25); 
    justify-content: space-between;
    align-items: center;
}

#red-window-header{
    width:100%;
    display: flex;
    flex-direction: row;
    cursor: move;
    background-color: red;
    color: white;
}

.red-btn{
    color: red;
    transition: 1s;
    background-color: black;
    border: solid 2px red;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 3px red;  
}

.red-btn:hover{
    color: black;
    border-color: black;
    background-color: red;
}


.red{
    color: white;
    background: linear-gradient(90deg, red, white, red);
    -webkit-background-clip: text;
    background-size:200% auto;
    background-clip: text;
    color: transparent;
    display: inline-block;
    animation: gradient-animation 4s linear infinite;
    transition: 1s;
}

.red:hover{
    text-shadow: 0 0 35px white, 0 0 35px red;  
}

